<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Ecosolution & Ecohornet - energy production and disposal services">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Ecosolution & Ecohornet - energy production and disposal services">
    <meta name="description" content="Ecosolution & Ecohornet - energy production and disposal services">

   {{ include('script.html') }}
 
</head>
<body>
   
    <div>
        <!-- MAIN WRAPPER
         ================================================== -->
         <div class="main-wrapper">
     
             <!-- 404 PAGE
             ================================================== -->
             <section class="full-screen p-0 bg-img cover-background" data-overlay-dark="4"  style="background-color: #4be54b;">
                 <div class="container-fluid d-flex flex-column position-relative z-index-9">
                     <div class="row align-items-center justify-content-center min-vh-100">
                         <div class="col-xl-7">
                             <div class="text-center error-wrapper my-1-6">
                                 <div class="number-wrap">
                                     <h1>404</h1>
                                 </div>
                                 <h2 class="h1 mb-4 text-white">Oops! This Page is Not Found.</h2>
                                 <p class="lead mb-1-6 text-white opacity8 w-sm-75 w-lg-70 w-xl-80 w-xxl-70 mx-auto">We can’t find the page your are looking for. You can check out our Help Center or head back to Homepage.</p>
                                 <div class="text-center">
                                     <a href="/" class="btn-style1 text-white">Go Home Page</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </section>
     
         </div>
     </div>
    {{ include('footer.html') }}
</body>
</html>
