{% extends "base-two.html" %}

{% block body %}
<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay top-position" data-overlay-dark="6" data-background="img/custom/camp.jpg" style="position:relative; top:-7px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">About Us</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>

        <!-- ABOUT
        ================================================== -->
        <section class="pb-0 overflow-visible">
            <div class="container position-relative">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0 wow fadeIn" data-wow-delay="200ms">
                        <div class="position-relative about-style-02 ps-sm-10 pt-sm-12 pb-sm-6">
                            <div class="position-relative">
                                <img src="img/custom/bateries-croped.jpg" class="z-index-1 position-relative" alt="...">
                                <span class="about-shape1"></span>
                                <span class="about-shape2"></span>
                            </div>
                            <img src="img/custom/recycle-croped.jpg" alt="..." class="position-absolute top-0 left z-index-2 d-none d-sm-block">
                            <div class="bg-white shadow p-1-9 text-center position-absolute bottom-0 right-5 z-index-2">
                                <h3 class="h1 text-primary font-weight-800"><span class="countup">500</span>+</h3>
                                <p class="mb-0">Instalations</p>
                            </div>
                            <div class="d-inline-block p-6 bg-secondary top-10 opacity3 z-index-0 right-20 position-absolute"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="400ms">
                        <div>
                            <div class="section-title">
                                <span>About Us</span>
                            </div>
                            <h2 class="h1 mb-4 mt-2 z-index-2 position-relative">EcoSolution & EcoHornet</h2>
                            <p class="mb-1-9">
                                Secialized in providing execution and consulting services in industrial engineering, environmental engineering, mechanical engineering, petroleum and natural gas engineering.
                            </p>
                            <div class="row">
                                <div class="col-lg-6 mb-4 mb-lg-0">
                                    <div class="d-flex align-items-center bg-light p-3 mb-4">
                                        <i class="fa-solid fa-circle-check display-20 text-secondary"></i>
                                        <span class="ms-3 text-dark fw-bold">Project management</span>
                                    </div>
                                    <div class="d-flex align-items-center bg-light p-3">
                                        <i class="fa-solid fa-circle-check display-20 text-secondary"></i>
                                        <span class="ms-3 text-dark fw-bold">Consultancy</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="d-flex align-items-center bg-light p-3 mb-4">
                                        <i class="fa-solid fa-circle-check display-20 text-secondary"></i>
                                        <span class="ms-3 text-dark fw-bold">Install </span>
                                    </div>
                                    <div class="d-flex align-items-center bg-light p-3">
                                        <i class="fa-solid fa-circle-check display-20 text-secondary"></i>
                                        <span class="ms-3 text-dark fw-bold">Training and post selling services</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- PROCESS
        ================================================== -->
        <section>
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span>Working Process</span>
                    <h2 class="mb-0 h1 mt-2">Our Work Plan</h2>
                </div>
                <div class="row mt-n1-9">
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <i class="flaticon-018-settings display-13 text-white"></i>
                                </div>
                                <div class="process-count">
                                    <span>1</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center">Design Process</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="300ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <i class="flaticon-019-paper display-13 text-white"></i>
                                </div>
                                <div class="process-count">
                                    <span>2</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center">Budget Planning</h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <i class="flaticon-027-factory display-13 text-white"></i>
                                </div>
                                <div class="process-count">
                                    <span>3</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center">Aquisition and Installation </h3>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mt-1-9 wow fadeIn" data-wow-delay="500ms">
                        <div class="process-style-01">
                            <div class="process-block">
                                <div class="process-icon">
                                    <i class="flaticon-047-windmill display-13 text-white"></i>
                                </div>
                                <div class="process-count">
                                    <span>4</span>
                                </div>
                            </div>
                            <h3 class="mb-0 h4 text-center">Training and Maintenance</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="position-absolute bottom-0 left-n10 d-none d-xxl-block wow fadeIn" data-wow-delay="100ms">
                <figure class="img-windmolen" style="display: none;">
                    <svg id="svg-windmolen1" width="714px" height="797px" viewBox="0 0 714 797" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <defs>
                            <linearGradient x1="50%" y1="0%" x2="69.9174638%" y2="130.77405%" id="linearGradient-2">
                                <stop stop-color="#FFFFFF" stop-opacity="0.5" offset="0%"></stop>
                                <stop stop-color="#000000" stop-opacity="0.5" offset="100%"></stop>
                            </linearGradient>
                            <polygon id="path-200" points="19.0581604 -3.98605853e-13 19.0581604 560.061 37.2463295 560.061 26.5631604 -5.1159077e-13"></polygon>
                            <rect id="path-300" x="0" y="0" width="871" height="871"></rect>
                            <mask id="mask-400" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="871" height="871" fill="white">
                                <use xlink:href="#path-300"></use>
                            </mask>
                            <path d="M623.655752,352.597412 C515.710752,380.387412 430.630752,412.407412 433.635752,424.092412 L824.580752,323.447412 C821.580752,311.742412 731.620752,324.802412 623.655752,352.597412" id="path-500"></path>
                            <path d="M373.63556,615.502064 C265.69056,643.292064 180.61056,675.312064 183.61556,686.997064 L574.56056,586.352064 C571.56056,574.647064 481.60056,587.707064 373.63556,615.502064" id="path-600"></path>
                            <path d="M265.666238,303.7829 C157.721238,331.5729 72.6412376,363.5929 75.6462376,375.2779 L466.591238,274.6329 C463.591238,262.9279 373.631238,275.9879 265.666238,303.7829" id="path-700"></path>
                            <path d="M470.835,435.405 C470.835,454.95 454.98,470.825 435.43,470.825 C415.865,470.825 400,454.95 400,435.405 C400,415.845 415.865,400 435.43,400 C454.98,400 470.835,415.845 470.835,435.405" id="path-800"></path>
                        </defs>
                        <g id="Slides-Timeline1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Group-2300" transform="translate(-108.000000, -201.000000)">
                                <g id="pole1" transform="translate(419.000000, 437.000000)">
                                    <polygon id="Fill-100" fill="#FFFFFF" points="12.3348988 -5.68434189e-14 0 560.061 18.6584012 560.061 18.6598988 -5.68434189e-14"></polygon>
                                    <g id="Fill-200">
                                        <use fill="#F6F6F6" xlink:href="#path-200"></use>
                                        <use fill-opacity="0.600000024" fill="url(#linearGradient-2)" xlink:href="#path-200"></use>
                                    </g>
                                </g>
                                <g class="wieken">
                                    <use id="Rectangle-1400" stroke="#979797" mask="url(#mask-400)" stroke-width="2" fill="#D8D8D8" opacity="0" xlink:href="#path-300"></use>
                                    <path d="M825.844538,324.073519 L434.904538,424.718519 C437.914538,436.408519 527.864538,423.338519 635.839538,395.548519 C743.779538,367.763519 828.864538,335.743519 825.844538,324.073519" class="Fill-3" fill="#FFFFFF" transform="translate(630.413523, 376.537022) rotate(-4.000000) translate(-630.413523, -376.537022) "></path>
                                    <g class="Fill-6" transform="translate(629.069645, 371.623854) rotate(-4.000000) translate(-629.069645, -371.623854) ">
                                        <use fill="#F6F6F6" xlink:href="#path-500"></use>
                                        <use fill-opacity="0.3" fill="url(#linearGradient-2)" xlink:href="#path-500"></use>
                                    </g>
                                    <path d="M569.71572,580.264334 L178.77572,680.909334 C181.78572,692.599334 271.73572,679.529334 379.71072,651.739334 C487.65072,623.954334 572.73572,591.934334 569.71572,580.264334" class="Fill-3" fill="#FFFFFF" transform="translate(374.284705, 632.727837) rotate(122.000000) translate(-374.284705, -632.727837) "></path>
                                    <g class="Fill-6" transform="translate(379.049453, 634.528505) rotate(122.000000) translate(-379.049453, -634.528505) ">
                                        <use fill="#F6F6F6" xlink:href="#path-600"></use>
                                        <use fill-opacity="0.3" fill="url(#linearGradient-2)" xlink:href="#path-600"></use>
                                    </g>
                                    <path d="M78.7560719,367.015731 C81.7660719,378.705731 171.716072,365.635731 279.691072,337.845731 C387.631072,310.060731 472.716072,278.040731 469.696072,266.370731 L78.7560719,367.015731 Z" class="Fill-3" fill="#FFFFFF" transform="translate(274.265057, 318.834234) rotate(230.000000) translate(-274.265057, -318.834234) "></path>
                                    <g class="Fill-6" transform="translate(271.080131, 322.809342) rotate(230.000000) translate(-271.080131, -322.809342) ">
                                        <use fill="#F6F6F6" xlink:href="#path-700"></use>
                                        <use fill-opacity="0.3" fill="url(#linearGradient-2)" xlink:href="#path-700"></use>
                                    </g>


                                </g>
                                <g id="as1">
                                    <use fill="#FFFFFF" xlink:href="#path-800"></use>
                                    <use fill-opacity="0.300000012" fill="url(#linearGradient-2)" xlink:href="#path-800"></use>
                                </g>
                                <path d="M435.987915,460 C422.755287,460 412,449.239295 412,435.987909 C412,422.760705 422.755287,412 435.987915,412 C449.208459,412 460,422.760705 460,435.987909 C460,449.239295 449.208459,460 435.987915,460" id="Fill-1900" fill="#FFFFFF"></path>
                            </g>
                        </g>
                    </svg>
                </figure>
            </div>
        </section>

        <!-- EXTRA
        ================================================== -->
        <section class="vision-changebg owl-carousel owl-theme py-0 bg-img cover-background" data-overlay-dark="0" data-background="img/custom/green.jpg">
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="img/custom/green.jpg">
                <div class="vision-content">
                    <h4 class="text-white mb-3">Our Goal</h4>
                    <p class="mb-0 text-white">Our goal is to provide innovative and high-quality solutions to meet the needs of our clients. We 
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="img/custom/green.jpg">
                <div class="vision-content">
                    <h4 class="text-white mb-3">Our Vision</h4>
                    <p class="mb-0 text-white">Committed to excellence in every project we undertake, from design to execution and project management in engineering
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="img/custom/green.jpg">
                <div class="vision-content">
                    <h4 class="text-white mb-3">Our Mission</h4>
                    <p class="mb-0 text-white">The EcoSolution & EcoHornet plant is an innovative and sustainable solution for the processing of municipal, industrial, and hazardous waste.
                    </p>
                </div>
            </div>
            <div class="vision-wrapper bg-img cover-background" data-overlay-dark="2" data-background="img/custom/green.jpg">
                <div class="vision-content">
                    <h4 class="text-white mb-3">Our Value</h4>
                    <p class="mb-0 text-white">Personalized and efficient waste management solutions. Trust us to turn waste into opportunities and be part of the change towards a cleaner and healthier world.

                    </p>
                </div>
            </div>
        </section>

        <!-- OUR TEAM
        ================================================== -->
        <section style="display:none;">
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span>Our Team</span>
                    <h2 class="mb-0 h1 mt-2">Our Motivated Team</h2>
                </div>
                <div class="row g-xl-5 mt-n1-9">
                    <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                        <div class="card card-style-05 border-0">
                            <div class="card-image text-center">
                                <img src="img/team/team-01.jpg" alt="...">
                                <div class="hover-area">
                                    <div class="profile-footer">
                                        <ul class="team-social">
                                            <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center p-0 pt-4">
                                <h3 class="h5"><a href="team-details.html">Dakota Johnston</a></h3>
                                <span class="text-primary">CEO & Founder</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="300ms">
                        <div class="card card-style-05 border-0">
                            <div class="card-image text-center">
                                <img src="img/team/team-02.jpg" alt="...">
                                <div class="hover-area">
                                    <div class="profile-footer">
                                        <ul class="team-social">
                                            <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center p-0 pt-4">
                                <h3 class="h5"><a href="team-details.html">Taylah Tolmie</a></h3>
                                <span class="text-primary">Turbine Engineer</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                        <div class="card card-style-05 border-0">
                            <div class="card-image text-center">
                                <img src="img/team/team-03.jpg" alt="...">
                                <div class="hover-area">
                                    <div class="profile-footer">
                                        <ul class="team-social">
                                            <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body text-center p-0 pt-4">
                                <h3 class="h5"><a href="team-details.html">Jasmine Parrott</a></h3>
                                <span class="text-primary">Design Expert</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- TESTIMONIAL
        ================================================== -->
        <section class="bg-img cover-background dark-overlay" data-overlay-dark="8" data-background="img/bg/bg-01.jpg" style="display:none;">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-lg-6 col-xxl-5">
                        <div class="bg-white-opacity-light p-1-9 p-sm-2-9">
                            <img src="img/icons/quote.png" class="mb-4" alt="...">
                            <h2 class="mb-4 text-white">What Our Client Say</h2>
                            <div class="testimonial-carousel3 owl-carousel owl-theme">
                                <div>
                                    <p class="mb-4 display-28 text-white">This is simply unbelievable! Solar energy has got everything I need. Solar energy should be nominated for service of the year. I didn't even need training.</p>
                                    <h6 class="mb-0 text-white">Callum Lissa <small class="text-primary"> - Factory Owner</small></h6>
                                </div>
                                <div>
                                    <p class="mb-4 display-28 text-white">Wind energy is the most valuable business resource. You won't regret it. I'd be lost without wind energy. Needless to say we are extremely satisfied with the results.</p>
                                    <h6 class="mb-0 text-white">Bethany Nichols <small class="text-primary"> - General Manager</small></h6>
                                </div>
                                <div>
                                    <p class="mb-4 display-28 text-white">You won't regret it. Wind energy is the real deal! We've seen amazing results already. I am really satisfied with my wind energy.</p>
                                    <h6 class="mb-0 text-white">Lily Hogben <small class="text-primary"> - Engineer</small></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2-6 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="px-7 py-4 bg-white top-0 right d-inline-block position-absolute z-index-3"></div>
            <div class="p-1-6 bg-white d-inline-block position-absolute testimonial-shape z-index-3 d-none d-lg-block"></div>
        </section>

        <!-- CLIENTS
        ================================================== -->
        <section style="display:none;">
            <div class="container">
                <div class="section-title mb-1-9 mb-md-6 text-center wow fadeInUp" data-wow-delay="200ms">
                    <span>Our Partners</span>
                    <h2 class="mb-0 h1 mt-2">Meet Our Clients</h2>
                </div>
                <div class="row g-0 wow fadeIn">
                    <div class="col-md-4 col-lg-2 text-center client-style-01 borders-end border-md-end-0 border-color-light-black">
                        <img src="img/clients/09.png" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-2 text-center client-style-01 borders-end border-md-end-0 border-color-light-black">
                        <img src="img/clients/10.png" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-2 text-center client-style-01 borders-end border-lg-end-0 border-color-light-black">
                        <img src="img/clients/11.png" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-2 text-center client-style-01 borders-end border-md-end-0 border-color-light-black">
                        <img src="img/clients/12.png" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-2 text-center client-style-01 borders-end border-md-end-0 border-color-light-black">
                        <img src="img/clients/13.png" alt="...">
                    </div>
                    <div class="col-md-4 col-lg-2 text-center client-style-01 border-end border-color-light-black">
                        <img src="img/clients/14.png" alt="...">
                    </div>
                </div>
            </div>
        </section>
{% endblock %}