<!DOCTYPE html>
<html lang="en">

<head>

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="Ecosolution & Ecohornet - energy production and disposal services">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="Ecosolution & Ecohornet - energy production and disposal services">
    <meta name="description" content="Ecosolution & Ecohornet - energy production and disposal services">

   {{ include('script.html') }}
 
</head>
<body>
    {{ include('header-two.html') }}
    {% block body %} {% endblock %}
    {{ include('footer.html') }}
</body>
</html>