
    <!-- title  -->
    <title>Ecosolution & Ecohornet - energy production and disposal services</title>

       <!-- favicon -->
   <link rel="shortcut icon" href="img/logos/favicon.png">
   <link rel="apple-touch-icon" href="img/logos/apple-touch-icon-57x57.png">
   <link rel="apple-touch-icon" sizes="72x72" href="img/logos/apple-touch-icon-72x72.png">
   <link rel="apple-touch-icon" sizes="114x114" href="img/logos/apple-touch-icon-114x114.png">

   <!-- plugins -->
   <link rel="stylesheet" href="css/plugins.css">

   <!-- search css -->
   <link rel="stylesheet" href="search/search.css">

   <!-- quform css -->
   <link rel="stylesheet" href="quform/css/base.css">

   <!-- theme core css -->
   <link href="css/styles.css" rel="stylesheet">

   <!-- custom css -->
   <link href="css/custom.css" rel="stylesheet">