{% extends "base-two.html" %}

{% block body %}
<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay top-position" data-overlay-dark="6" data-background="img/custom/planta1-resized.jpg" style="position:relative; top:-7px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">We eliminate and prohibit all landfills</h1>
                      <!--  <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">Renewable Energy</a></li>
                        </ul>
                    -->
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>

        <!-- RENEWABLE ENERGY
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mt-2-9 mt-lg-0 order-2 order-lg-1">
                        <div class="sidebar me-xl-1-9">
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Main Services</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled menu m-0">
                                        <li><a href="#">Design and Planing  of industrial works</a></li>
                                        <li><a href="#">Design and development of mechanical systems</a></li>
                                        <li><a href="#">Installation and maintenance of equipment and machinery</a></li>
                                        <li><a href="#">Analysis and optimization of processes in the oil and natural gas industry.</a></li>
                                        <li><a href="#">Evaluation and risk management in the oil and natural gas industry</a></li>
                                        <li><a href="#">Construction and supervision of infrastructure projects</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Main Products</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled menu m-0">
                                        <li><a href="#">Equipment for industrial waste management</a></li>
                                        <li><a href="#">Environmental control systems for agriculture</a></li>
                                        <li><a href="#">Medical waste pyrolysis plant</a></li>
                                        <li><a href="#">Municipal and industrial waste crushing machines</a></li>
                                        <li><a href="#">Municipal waste drying plant.</a></li>
                                        <li><a href="#">Municipal and industrial waste crushing machines.</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Download</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="download-list list-unstyled clearfix">
                                        <li>
                                            <div class="inner">
                                                <a href="#!">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                    <h6>Installation Timeline</h6>
                                                    <span>[450kb]</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner">
                                                <a href="#!">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                    <h6>Terms &amp; Conditions</h6>
                                                    <span>[12mb]</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           <!--
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Follow Us</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="social-icon-style2 list-unstyled ps-0">
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                        <li class="me-0 d-inline-block"><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        -->
                            <div class="bg-img p-1-9 cover-background contact-widget wow fadeIn" data-wow-delay="200ms" data-overlay-dark="5" data-background="img/content/sidebar-img1.jpg">
                                <div class="z-index-3 position-relative">
                                    <h3 class="text-white mb-1-9"> For more information about our services</h3>
                                    <a href="contact.html" class="btn-style1 small">Contact Us</a>
                                </div>
                                <span class="position-absolute right bottom-0 p-3 bg-white z-index-3"></span>
                                <span class="shape-2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-1 order-lg-2">
                        <div>
                            <div class="row mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="col-6">
                                    <img src="img/custom/ct40-cropped-4.jpg" alt="...">
                                </div>
                                <div class="col-6">
                                    <img src="img/custom/eco.jpg" alt="...">
                                </div>
                            </div>
                            <h2 class="mb-3">Join us in waste management, help us to protect the environment and obtain circular sustainable  economy</h2>
                            <p class="mb-lg-1-9 wow fadeIn" data-wow-delay="200ms">
                                Our highly trained and committed team is ready to provide you with personalized and efficient waste management solutions.
                                 Trust us to turn waste into opportunities and be part of the change towards a cleaner and healthier world.

                            </p>
                            <div class="progress-style1 w-md-80 mb-4 mb-lg-5 wow fadeIn" data-wow-delay="200ms">
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Provisioning</div>
                                        <div class="col-6 text-end">65%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Supporting</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Regulating</div>
                                        <div class="col-6 text-end">55%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                                </div>
                            </div>
                         
                            <!--
                                <h3 class="mb-3">Our Team</h3>
                            <div class="row mt-n1-9 mb-1-9">
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="img/team/team-01.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Dakota Johnston</a></h3>
                                            <span class="text-primary">CEO & Founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="img/team/team-02.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                    EcoHornet Pyrolysis Technology:    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Taylah Tolmie</a></h3>
                                            <span class="text-primary">Turbine Engineer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="img/team/team-03.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Jasmine Parrott</a></h3>
                                            <span class="text-primary">Design Expert</span>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        -->
                        <p class="mb-1-9 wow fadeIn" data-wow-delay="200ms">
                            The EcoHornet pyrolysis plant is a unique technology in the world that allows us to process all types of municipal, industrial, 
                            and hazardous waste efficiently and EcoHornet Pyrolysis Technology
                        </p>
                            <div class="wow fadeIn" data-wow-delay="200ms">
                                <div id="accordion" class="accordion-style">
                                    <div class="card mb-3">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    1. EcoHornet Pyrolysis Technology</button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                Our plant utilizes advanced pyrolysis technology that can transform a wide variety of waste into useful products. From municipal waste to hazardous materials, 
                                                the EcoHornet pyrolysis plant can process them efficiently and safely.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    2. Operation Safety System</button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                The EcoHornet pyrolysis plant has a rigorous safety system in place to ensure risk-free operation. 
                                                The implemented safety protocols ensure the protection of workers and the environment throughout the entire pyrolysis process.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    3. Economic Benefits and Return on Investment:</button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                Investing in an EcoSolution & EcoHornet plant offers numerous long-term economic benefits. In addition to cost reduction associated with waste management, 
                                                the plant allows for the recovery of valuable materials such as pyrolysis oil and pyrolysis gas, which can be used and managed to generate electricity and earn additional income.                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    4. Benefits of Pyrolysis Oil and Pyrolysis Gas in Electricity Production:
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                The EcoSolution & EcoHornet plant enables the production of high-quality pyrolysis oil and pyrolysis gas. These products can be properly managed and used as fuels to efficiently and sustainably generate electricity, thereby reducing dependence on conventional energy sources and contributing to environmental preservation.
               
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    5. Environmental Benefits</button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                One of the main advantages of an EcoSolution & EcoHornet plant is its positive impact on the environment through the pyrolysis process. It helps to avoid traditional landfills, 
                                                reduce greenhouse gas emissions, and prevent soil and water pollution. Additionally, it promotes the production of renewable energy from the generated products
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    6. Waste Separation and Processing Stages
</button>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                The EcoSolution & EcoHornet plant consists of several stages, including waste reception, sorting, shredding, drying, pelletizing, and production of gas, pyrolysis oil, and biochar. Processing the waste facilitates its handling and storage.                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    7. Scientific, Technical, Professional, and Economic Arguments:
</button>
                                            </h5>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                The EcoHornet pyrolysis technology is based on solid scientific and technical foundations. It is supported by experienced professionals in the field of waste management and energy production. 
                                                From an economic perspective, investing in an EcoSolution & EcoHornet plant offers an excellent business opportunity, with the potential for both economic and environmental benefits.            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}