{% extends "base-two.html" %}

{% block body %}
<!-- PAGE TITLE
        ================================================== -->
        <section class="page-title-section bg-img cover-background dark-overlay top-position" data-overlay-dark="6" data-background="/img/custom/planta1-resized.jpg" style="position:relative; top:-7px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="display-3">{{translations.header}}</h1>
                      <!--  <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#!">Renewable Energy</a></li>
                        </ul>
                    -->
                    </div>
                </div>
            </div>
            <div class="line-animated">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="p-1-9 p-sm-2-3 bg-white bottom-0 left d-inline-block position-absolute z-index-3"></div>
            <div class="position-absolute shape-1 d-none d-sm-block"></div>
            <div class="px-6 px-sm-9 py-3 py-sm-4 bg-white bottom-0 right d-inline-block position-absolute z-index-3"></div>
        </section>

        <!-- RENEWABLE ENERGY
        ================================================== -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mt-2-9 mt-lg-0 order-2 order-lg-1">
                        <div class="sidebar me-xl-1-9">
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">{{translations.main_services.title}}</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled menu m-0">
                                        <li><a href="#">{{translations.main_services.design_and_planing}}</a></li>
                                        <li><a href="#">{{translations.main_services.design_and_development}}</a></li>
                                        <li><a href="#">{{translations.main_services.installations}}</a></li>
                                        <li><a href="#">{{translations.main_services.analysis}}</a></li>
                                        <li><a href="#">{{translations.main_services.evaluation}}</a></li>
                                        <li><a href="#">{{translations.main_services.construction}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Main Products</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="list-unstyled menu m-0">
                                        <li><a href="#">{{translations.main_products.equipment}}</a></li>
                                        <li><a href="#">{{translations.main_products.environment}}</a></li>
                                        <li><a href="#">{{translations.main_products.medical}}</a></li>
                                        <li><a href="#">{{translations.main_products.waste}}</a></li>
                                        <li><a href="#">{{translations.main_products.drying}}</a></li>
                                        <li><a href="#">{{translations.main_products.industrial}}</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Download</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="download-list list-unstyled clearfix">
                                        <li>
                                            <div class="inner">
                                                <a href="#!">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                    <h6>Installation Timeline</h6>
                                                    <span>[450kb]</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="inner">
                                                <a href="#!">
                                                    <i class="fa-solid fa-file-pdf"></i>
                                                    <h6>Terms &amp; Conditions</h6>
                                                    <span>[12mb]</span>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                           <!--
                            <div class="widget mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="widget-title">
                                    <h5 class="mb-0">Follow Us</h5>
                                </div>
                                <div class="widget-content">
                                    <ul class="social-icon-style2 list-unstyled ps-0">
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                        <li class="me-1 d-inline-block"><a href="#!"><i class="fab fa-instagram"></i></a></li>
                                        <li class="me-0 d-inline-block"><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        -->
                            <div class="bg-img p-1-9 cover-background contact-widget wow fadeIn" data-wow-delay="200ms" data-overlay-dark="5" data-background="/img/content/sidebar-img1.jpg">
                                <div class="z-index-3 position-relative">
                                    <h3 class="text-white mb-1-9"> For more information about our services</h3>
                                    <a href="contact.html" class="btn-style1 small">Contact Us</a>
                                </div>
                                <span class="position-absolute right bottom-0 p-3 bg-white z-index-3"></span>
                                <span class="shape-2"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 order-1 order-lg-2">
                        <div>
                            <div class="row mb-1-9 wow fadeIn" data-wow-delay="200ms">
                                <div class="col-6">
                                    <img src="/img/custom/ct40-cropped-4.jpg" alt="...">
                                </div>
                                <div class="col-6">
                                    <img src="/img/custom/eco.jpg" alt="...">
                                </div>
                            </div>
                            <h2 class="mb-3">{{translations.title}}</h2>
                            <p class="mb-lg-1-9 wow fadeIn" data-wow-delay="200ms">
                                {{translations.content_one}}

                            </p>
                            <div class="progress-style1 w-md-80 mb-4 mb-lg-5 wow fadeIn" data-wow-delay="200ms">
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Provisioning</div>
                                        <div class="col-6 text-end">65%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:70%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="10" role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Supporting</div>
                                        <div class="col-6 text-end">80%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded mb-4">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                                </div>
                                <div class="progress-text">
                                    <div class="row">
                                        <div class="col-6">Regulating</div>
                                        <div class="col-6 text-end">55%</div>
                                    </div>
                                </div>
                                <div class="custom-progress progress rounded">
                                    <div class="animated custom-bar progress-bar slideInLeft" style="width:80%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="70" role="progressbar"></div>
                                </div>
                            </div>
                         
                            <!--
                                <h3 class="mb-3">Our Team</h3>
                            <div class="row mt-n1-9 mb-1-9">
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="200ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="/img/team/team-01.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Dakota Johnston</a></h3>
                                            <span class="text-primary">CEO & Founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="400ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="/img/team/team-02.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                    EcoHornet Pyrolysis Technology:    <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Taylah Tolmie</a></h3>
                                            <span class="text-primary">Turbine Engineer</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-lg-4 mt-1-9 wow fadeIn" data-wow-delay="600ms">
                                    <div class="card card-style-05 border-0">
                                        <div class="card-image text-center">
                                            <img src="/img/team/team-03.jpg" alt="...">
                                            <div class="hover-area">
                                                <div class="profile-footer">
                                                    <ul class="team-social">
                                                        <li><a href="#!"><i class="fa-brands fa-facebook-f"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-twitter"></i></a></li>
                                                        <li><a href="#!"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body text-center p-0 pt-4">
                                            <h3 class="h5"><a href="team-details.html">Jasmine Parrott</a></h3>
                                            <span class="text-primary">Design Expert</span>
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                        -->
                        <p class="mb-1-9 wow fadeIn" data-wow-delay="200ms">
                            {{translations.content_two}}
                        </p>
                            <div class="wow fadeIn" data-wow-delay="200ms">
                                <div id="accordion" class="accordion-style">
                                    <div class="card mb-3">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    {{translations.panel_one.title}}</button>
                                            </h5>
                                        </div>
                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_one.content}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card mb-3">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    {{translations.panel_two.title}}</button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_two.content}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    {{translations.panel_three.title}}</button>
                                            </h5>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_three.content}}              
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    {{translations.panel_four.title}}
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_four.content}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingFive">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    {{translations.panel_five.title}}</button>
                                            </h5>
                                        </div>
                                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_five.content}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSix">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    {{translations.panel_six.title}}
</button>
                                            </h5>
                                        </div>
                                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_six.content}}                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    {{translations.panel_seven.title}}
</button>
                                            </h5>
                                        </div>
                                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-bs-parent="#accordion">
                                            <div class="card-body">
                                                {{translations.panel_seven.content}}            
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}